.Rproj.user/
.Rhistory
.RData
.Ruserdata

# inteRgrate suggestions
.Rapp.history
*-Ex.R
/*.tar.gz
/*.Rcheck/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron

# Folders
docs/
.idea/

# macOS
**/.DS_Store
docs
.DS_Store
